In [7]:
a=100
print('a memory location',id(a))    # ID show memory location of value not variable
b=100
print('b memory location',id(b))
c=20
print('c memory location',id(c))
b=c
print('b memory location',id(b))

a memory location 10754024
b memory location 10754024
c memory location 10751464
b memory location 10751464

In [9]:

x,y,z = 10,20,30
print(x,y,z)
x=y=42
print(x,y,z)

import keyword
print(keyword.kwlist) # it list all the keyword in python

#del=10     # keyword cannot be used as variable

10 20 30
42 42 30
['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [10]:
# multiple comments with 3 quotes
"""test check
done"""

a='NTT'
b="Data"
print(a,b)
print(b[0])
print(b[-2])

NTT Data
D
t

In [11]:
first_name = "Kannappan"
last_name = 'Ram'
print('Employee Name : ',first_name,last_name)  #merge variable in print
print(type(first_name)) # give type of variable

Employee Name :  Kannappan Ram
<class 'str'>

In [14]:
x = int(3.1) #giving variable type
print(x)

#num = float("hello") #string can not be store in number type
#print(type(num))
#print(num)

3

In [22]:
vdata="Ham"
for ne in vdata:
    print(ne)

raw="Various"
for k in raw:
    print(k)
    if k == 'r':    #stops at r, because of break. print happens before in this case
        break;


for t in range(0,10,3):   # 0 to 10 increment of 3
    print(t)

data=[1,4,6,7,8,12,45,67]
i=1
while i<=3:
    print(data[i])
    i+=1
else:
    print("iteration complete",i)

H
a
m
V
a
r
0
3
6
9
4
6
7
iteration complete 4