In [9]:
# complex, isinstance
a = 3+6j
print(a)
print(type(a))
a = 10.0
print(isinstance(a,int))    # show true or false for given datatype, not history

(3+6j)
<class 'complex'>
False

In [14]:
# variable anotations
name: str = "VKN"             # assigning datatype as string (this is annotation / tag)
print(name)
name = 10                     # python alow any value & change datatype
print(type(name))             # will show datatype for present value
print(__annotations__['name'])    # will show datatype that is assigned for reference

VKN
<class 'int'>
<class 'str'>

In [37]:
# List, tuple, dict, range, none, bool
l = [1,5.1,"Hi",3+4j,['t','y','v']]   # list is created with square bracket, it can have any combination within
print(l)
print(type(l))

t = (10,43,32)          # round bracket, value can not be changed, not insert, not delete
print(t)
print(type(t))

d = {1:"one",2:"two"}   # curly bracket, unordered key_value, we are giving index value(key)
                        # {key:value} -> key-int,float,str | value-int,float,str,list,tuple,dict
print(d)
print(type(d))
d1 = {"C001":[3,4,5],"C002":"second"}
print(d1)

S = {11,22,33}          # unordered uniquie value, no duplicates
print(type(S))

R = range(0,5,2)
print(R)

n = None
print(n)

[1, 5.1, 'Hi', (3+4j), ['t', 'y', 'v']]
<class 'list'>
(10, 43, 32)
<class 'tuple'>
{1: 'one', 2: 'two'}
<class 'dict'>
{'C001': [3, 4, 5], 'C002': 'second'}
<class 'set'>
range(0, 5, 2)
None

In [ ]:
# Operator - Arithmetic(+-*/%//), Compare, etc

In [59]:
# index , slicing
name = "where are employees"
print(name[0])
print(name[-4])
print(name[0:2])      # slice, start-stop, stop excluded
print(name[6:15:2])    # last digit minus 1
print(name[:7])
print(name[5:])

w
y
wh
aeepo
where a
 are employees

In [ ]:
#